* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.game-board {
  width: 95%;
  max-width: 650px;
  height: 400px;
  border: 2px solid black;
  border-bottom: 10px solid #00c91b;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.mario {
  position: absolute;
  bottom: 0;
  width: 90px;
  z-index: 10;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 40px;
  animation: movePipe 1.6s linear infinite;
}

@keyframes moveClouds {
  0% {
    right: -350px; 
  }
  100% {
    right: 140%;  
  }
}

.cloud {
  position: absolute;
  top: 30px;
  right: -350px;
  width: 300px;
  opacity: 0.8;
  animation: moveClouds 10s linear infinite;
  z-index: 1;
}

@keyframes movePipe {
  from { left: 100%; }
  to { left: -40px; }
}

.jump {
  animation: jump 700ms ease-out forwards;
}

@keyframes jump {
  0%   { bottom: 0; }
  20%  { bottom: 80px; }
  40%  { bottom: 140px; }
  55%  { bottom: 150px; }
  70%  { bottom: 140px; }
  90%  { bottom: 60px; }
  100% { bottom: 0; }
}

.mobile-controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.control-btn {
  pointer-events: auto;
  background-color: #00ff4c;
  border: 3px solid #000;
  margin-bottom: 90px;
  padding: 15px 25px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 12px;
  font-family: 'Press Start 2P';
  box-shadow: 0 4px 0 #000;
}

.control-btn:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 #000;
}

@media (max-width: 600px) {
  .game-board {
    height: 300px;
    max-width: 90%;
  }

  .clouds {
    width: 90px;
    top: 20px;
  }
}

#score {
  position: absolute;
  top: 95px;
  font-size: 22px;
  color: #fff;
  text-shadow: 3px 3px 0 #000;
  font-family: 'Press Start 2P';
}
